html {
  font-size:50px;
}

/*=======================================
=               header start            =
=======================================*/

.index-mb-header {
  background-color: #f6f6f6;
  header {
    position:relative;
    padding: 10px 0 0 8px;
    border-bottom: 1px solid #2db7f5;
    display: flex;
    img {
      height: 50px;
    }
    span {
      font-size: 35px;
      color: #108ee9;
    }
    .loginStateIcon {
      position:absolute;
      right:0;
      font-size:0.6rem;
      top:12px;
      right:12px;
    }
  }
}


/*=======================================
=              main   start             =
=======================================*/
.mobile-lists{
  .mobile-lists-item{
    padding:10px 20px 0 ;
    display:flex;
    .mobile-lists-img{
      padding-right:10px;
      display:block;
      width: 260px;
      img{
        width: 100%;
      }
    }
    section{
      flex:1;
      h3{
        padding-bottom:10px;
        a{
          color:#333;
        }
      }
    }
  }
}

@media(max-width:992px){
  .mobile-lists .mobile-lists-item .mobile-lists-img{
    width:200px;
  }
}

@media(max-width:700px){
  .mobile-lists .mobile-lists-item .mobile-lists-img{
    width:160px;
  }
}

@media(max-width:500px){
  .mobile-lists .mobile-lists-item .mobile-lists-img{
    width:120px;
  }
}

.login-icon{
  min-height: 173px;
  background:url(../images/loading.gif) no-repeat center center;
}


/*=======================================
=              footer start             =
=======================================*/
.index-mb-footer {
  padding:8px 0 10px;
  .copyright-txt {
    text-align: center;
  }
}
