/*=======================================
=               header start            =
=======================================*/
.index-mb-header {
  header {
    padding:10px 0 0 8px;
    a {
      display: flex;
      img {
        width: 48px;
        height: 48px;
      }
      span {
        font-size: 35px;
        color: #108ee9;
      }
    }
  }
}

/*=======================================
=              footer start             =
=======================================*/
.index-mb-footer{
  .copyright-txt {
    text-align: center;
  }
}
