html {
  font-size:50px;
}

/*=======================================
=               header start            =
=======================================*/

.index-mb-header {
  background-color: #f6f6f6;
  header {
    position:relative;
    padding: 10px 0 0 8px;
    border-bottom: 1px solid #2db7f5;
    display: flex;
    img {
      height: 50px;
    }
    span {
      font-size: 35px;
      color: #108ee9;
    }
    .loginStateIcon {
      position:absolute;
      right:0;
      font-size:0.6rem;
      top:12px;
      right:12px;
    }
  }
}



/*=======================================
=              footer start             =
=======================================*/
.index-mb-footer {
  .copyright-txt {
    text-align: center;
  }
}
