/*=======================================
=               header start            =
=======================================*/
.index-pc-header {
  padding: 10px 0;
  .logo {
    display: flex;
    align-items: center;
    img {
      display: block;
      width: 48px;
      height: 48px;
      float: left;
      margin-top: 5px;
    }
    span {
      padding-left: 5px;
      font-size: 24px;
      margin-top: 10px;
      color:#108ee9;
    }
  }
}

/*=======================================
=              footer start             =
=======================================*/
.index-pc-footer{
  .copyright-txt {
    text-align: center;
  }
}
