.comments {
  .title {
    font-size: 15px;
    font-family: 'Microsoft YaHei';
    line-height: 22px;
    padding: 10px 0 5px;
    i {
      padding: 0 6px 0 0;
    }
  }
  .comment-input {
    text-align: right;
    padding: 10px 0;
  }
  .comment-list-item {
    margin: 0 0 8px 0;
  }
}

.add-to-collection {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  right: 50px;
  background-color: #1088e9;
  color: #fff;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.collection-lists {
  h2{
    border-bottom:1px solid #dadada;
  }
  section {
    section {
      padding: 20px 0 8px 0;
      border-bottom: 1px dashed #dadada;
      h5 {
        text-align: left;
        a {
          color: #404040;
          font-size: 14px;
        }
      }
      text-align:right;
    }
  }
}
.user-comments{
  .comments-lists {
    margin:10px 0 0;
  }
}
